.form-inp-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inp-container input,
textarea {
  width: 70% !important;
  border-color: lightgrey;
  border-style: solid;
  color: gray;
}

.form-inp-container span {
  color: #e91e63ad;
  width: 70% !important;
}

.cart-heading > span {
  font-size: medium !important;
}

.cart-button > b {
  color: cadetblue;
}

.delivery-msg {
  padding-left: 10px;
  color: #9e9e9e;
}

@media (max-width: 450px) {
  .form-inp-container input,
  span,
  textarea {
    width: 80% !important;
  }
}
